*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-left: 30px;
}

.codes {
  display: flex;
  gap: 40px;
}

/* Utilizare grafica in elementul img */
.body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fd;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
}

/* Utilizare ca fundal */
.box {
  width: 240px;
  height: 240px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  background-image: url("https://res.cloudinary.com/goit-academy/image/upload/v1614773221/codepen/cat_segyum.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Utilizare ca SVG incorporat */
.inc-icon {
  display: inline-flex;
  width: 120px;
  height: 120px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.inc-icon:hover {
  fill: #bf360c;
}

/* Sprite SVG */
.sprite-icon-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sprite-icon {
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.sprite-icon:hover {
  fill: #f42703;
}

/* svg fill proprety */
.container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.fill-icon {
  margin-left: 12px;
  margin-right: 12px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.fill-icon:hover {
  fill: #98f403;
}

/* svg fill opacity propety */
.fill-opacity-icon {
  margin-left: 12px;
  margin-right: 12px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
  fill-opacity: 0.7;
  stroke: #f44336;
  stroke-width: 1px;
}

.fill-opacity-icon:hover {
  fill: #03a9f4;
}

/* stroke */
.stroke-icon {
  margin-left: 12px;
  margin-right: 12px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
  stroke: #f44336;
}

.stroke-icon:hover {
  fill: #03a9f4;
}

/* stroke-width */
.width-stroke-icon {
  margin-left: 12px;
  margin-right: 12px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
  stroke: #f44336;
  stroke-width: 3px;
}

.width-stroke-icon:hover {
  fill: #03a9f4;
}

/* stroke-opacity */
.opacity-width-stroke-icon {
  margin-left: 12px;
  margin-right: 12px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
  stroke: #f44336;
  stroke-width: 3px;
  stroke-opacity: 0.7;
}

.opacity-width-stroke-icon:hover {
  fill: #03a9f4;
}
